body {
  text-align: center;
}
div {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid black;
}
#container {
  width: 800px;
  height: 200px;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#box1 {
  background-color: aqua;
  align-self: flex-start;
}
#box2 {
  background-color: pink;
}
#box3 {
  background-color: darkkhaki;
  align-self: flex-start;
}
#box4 {
  background-color: indianred;
  align-self: flex-end;
}
#box5 {
  background-color: slateblue;
  align-self: flex-start;
}
