/* using text-align */
p {
  text-align: end;
}
h1 {
  text-align: center;
  /* text-decoration */
  text-decoration: red wavy underline;
}
/* font-weight */
#hd1 {
  font-weight: lighter;
}
#hd2 {
  font-weight: normal;
}
#hd3 {
  font-weight: bold;
}
#hd4 {
  font-weight: bolder;
}
#hd5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
}
/* for font-size */
#one {
  font-size: 34px;
}
#two {
  font-size: 12px;
}
#three {
  font-size: 145px;
}
